@charset "utf-8";
/* 모바일에서 세로방향에서 가로방향으로 바뀌면 글자가 커져서 보인다 */
/* text-size-조정(어저스트):100%; */
/* text-size-adjust:100%; */

* {margin:0;padding:0;vertical-align:middle;border:0;box-sizing:border-box;text-size-adjust: 100%;}
html,body {width:100%;height:100%;}
body {font:normal 14px/1 'Nanum Gothic', 'arial', 'sans-serif';color:#444;background:#fff;}
a {color:#444;text-decoration:none;}
ul,li {list-style:none;}
em, address, i {font-style:normal;}
header, main, footer, section, article, nav, aside {display: block;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;}
.hide {display: none;}
.blind {content:'';display: block;text-indent: -1000px;overflow: hidden;}
.clearfix::after {content:'';display:block;clear:both;}


