@charset "utf-8";

/* 미디어쿼리 */
@media all and (max-width:1380px){
    .quick-menu{
        margin-left:-140px;
        left:100%;
    }
}
@media all and (max-width:1280px){
    #wrap #main #section6 .container .left {
        width:37.909%;
    } 
    #wrap #main #section6 .container .left h2 img 
    {max-width:71.271%;
    }
    #wrap #main #section6 .container .left p {
        text-align:right;
    }
    #wrap #main #section6 .container .left p a {
        margin:0;
    }
    #wrap #main #section6 .container .left h2 {
        padding:0 0 13.812% 0;
    }
    #wrap #main #section6 .container .left h3 {
        padding:0 0 12.431% 0;
    }

    #wrap #main #section6 .container .right {
        width:56.091%;
        margin:auto 0 auto auto;
    }
    /* 푸터 */
    #wrap #footer .container .top .wrap ul {
        width:90%;
        flex-flow:row wrap;
        margin:0 auto;
    }
    #wrap #footer .container .top .wrap ul li {
        width:33.333%;
    }
    #wrap #footer .container .middle .wrap {
        width:90%;
        flex-flow:row wrap;
    }
    #wrap #footer .container .middle .wrap span {
        width:auto;
        margin:5px auto;
    }
    #wrap #footer .container .bottom .wrap ul li:nth-child(1) div span {
        margin:5px auto;
    }
    #wrap #footer .container .bottom .wrap ul li:nth-child(3) address {
        padding:0 20px;
        line-height:140%;
    }

}
@media all and (max-width:1200px){
    #wrap #main #section1 .container .img1 {
        width:29.818%;
        bottom:70.953%;
        left:0.091%;
    } 
    #wrap #main #section1 .container .img2 {
        width:39.545%;
        bottom:11.931%;
        left:11.545%;
    }
    #wrap #main #section1 .container .img3 {
        width:32.455%;
        bottom:10.675%;
        left:46.273%;
    }
    #wrap #main #section1 .container .img4 {
        width:40.727%;
        bottom:9.105%;
        right:-7%;
    }  
    #wrap #main #section1 .container .img5 {
        bottom:58.399%;
        left:9.091%;
    }
  }

@media all and (max-width:1100px){
    #wrap #header .container .nav-box {
        float: right;
        width: auto;
    }
    #wrap #header .container .nav-box #nav ul li .sub .sub-top .sub-container {
        padding: 15px;
        width: 100%;
        max-width: 1100px;
    }
    #wrap #header .container .nav-box #nav ul li .sub .sub-bottom .sub-container {
        padding: 15px;    
        width: 100%;
        max-width: 1100px;    
    }
    #wrap #main #section2 #notice .container {
        padding:0 15px;
    }
    /* 섹션2슬라이드 */
    #wrap #main #section2 #slide .container2 .slide-container .next-btn-box{
        left: 85%;
        margin: -57.5px 0 0 0;
    }
    #wrap #main #section2 #slide .container2 .slide-container .prev-btn-box{
        right: 85%;
        margin: -57.5px 0 0 0;
    }
    /* 섹션3 */
    #wrap #main #section3 .container .left{
        width:23.273%;
        float:left;
    }
    #wrap #main #section3 .container .right{
        width: 76.727%;
        float: left;
    }
   /* 섹션4 */
    #wrap #main #section4 .container .left{
        height: 100%;
        position: absolute;
        top:90px;
        right: 150%;
        max-width: 44%;
        width: 100%;
        transition: all 2s ease-in-out;
        opacity: 0;
        
    }
    #wrap #main #section4 .container .right{
        height: 100%;
        position: absolute;
        top:183px;
        left: 150%;
        max-width: 30%;
        width: 100%;
        transition: all 2.5s ease-in-out;
        opacity: 0; 
    }
   /* 섹션5 */
    #wrap #main #section5.addFadein::after{ 
        content:'';
        display: block;
        width: 100%;
        height: 100%;
        background:#094a3d url(../images/section5_bg.jpg)no-repeat 60% 50%;
        background-size: auto 100%;
        position: absolute;
        left:0;
        top:0;
        z-index: 1;
        opacity: 1;
        transition: all .6s ease-in-out;
        animation: fadein 3s ease-in-out;
    }
    #wrap #main #section5 .container .title{
        width: 70%;
        margin: auto;
    }              
}

@media all and (max-width:1030px){
    #wrap #main #section3 .container .left {
        width: 40%;
        float: left;}
    #wrap #main #section3 .container .right {
        width: 60%;
        float: left;
    }
    #wrap #main #section3 .container .right  br {
        display: block;
    }
    #wrap #main #section3 .container .right .gap .content .top .top-left {
        float: none;
    }
    #wrap #main #section3 .container .right .gap .content .top .top-right {
        float: none;
        height: auto;
    }
    #wrap #main #section3 .container .right .gap .content .top .top-right .button-box {
        margin: 20px 0 0 0;
    }
    #wrap #main #section3 .container .right .gap .content .bottom .bottom-left {
        float: none;
    }
    #wrap #main #section3 .container .right .gap .content .bottom .bottom-right {
        float: none;
        padding: 20px 0 0 0;
    }
  
  }
  
@media all and (max-width:960px){   
    #wrap #header{
        height:70px;
        border-top: 0;
    }
    #wrap #header .container .logo-box {
        width: 50px;
        margin: 0 0 0 10px;
    }
    #wrap #header .container .logo-box h1{
        line-height:58px;
        height:69px;
    }
    #wrap #header .container .nav-box{
        display: block;
    }
    #wrap #main {
        margin:70px 0 0 0;
    }
    #wrap #footer .container .top .wrap ul li.mobile {
        display:block;
    }   
    /* 모바일 네비 적용 */
    #wrap #header .container .nav-box #aside  {display:none;}
    #wrap #header .container .nav-box #nav    {display:none;}
    #wrap #header .container .nav-box #mobile {display:block;}
    #mobileNav{
        padding: 0 0 0 20%;
    }
  
}
@media all and (max-width:900px){   
    #mobileNav .mobile-container > ul > li > a {
    font-size: 23px;
    } 
}
@media all and (max-width:819px){
    #wrap #main #section2 #slide .container2 .slide-container .slide-view {
        width:90%;
    }
    #wrap #main #section2 #slide{
        border-top:1px solid #ddd;
    }
    /* 섹션8 */
    #wrap #main #section8 {
        height:auto;
    }
    #wrap #main #section8 .container::after {
        z-index:1;background-position: 30% 47%, 80% 100%;
        background-size:250px auto, 180px auto;
    }
    #wrap #main #section8 .container {
        display:block;
        padding:0 0 95px 0;
    }
    #wrap #main #section8 .container .left {
        background-color:#c00;
        position:relative;
        left:-4.167%;
        width:38.125%;
        max-width:366px;
        height:312px;
        margin:0 auto 17% auto;
        background:url(../images/store_exp_img02.png) no-repeat 0 0;
        background-size:100% auto;
    }
    #wrap #main #section8 .container .left span {
        margin:auto -21.858% -21.858% auto;
        width:62.295%;
    }
    #wrap #main #section8 .container .right {
        margin:0 auto;
    }
    #wrap #main #section8 .container .right p {
        text-align:center;padding:10% 0 0 0;
    }
  }
  


@media all and (max-width:800px){
    /* 섹션1 이미지 */
    #wrap #main #section1 .container .img1 {
        width: 29.818%;
        bottom: 70.953%;
        left: 0.091%;
    } 
    #wrap #main #section1 .container .img2 {
        width: 39.545%;
        bottom: 11.931%;
        left: 6.545%;
    }
    #wrap #main #section1 .container .img3 {
        width: 32.455%;
        bottom: 10.675%;
        left: 42.273%;
    }
    #wrap #main #section1 .container .img4 {
        width: 40.727%;
        bottom: 9.105%;
        right: -5%;}  
    #wrap #main #section1 .container .img5 {
        bottom: 58.399%;
        left: 5.091%;
    }
    /* 섹션3 */
    #wrap #main #section3 .container .left {
        width: 50%;
        float: left;
    }
    #wrap #main #section3 .container .right {
        width:50%;
        float: left;}
  }
  
  @media all and (max-width:700px){
    #wrap #main #section3 .container .left{
        width: 100%;
        float:none;
        text-align:center;
        padding:0 0 40px;
    }
    #wrap #main #section3 .container .left img {
        width: 100%;
        max-width:250px;}
    #wrap #main #section3 .container .left .gap {
        padding: 0;
    }
    #wrap #main #section3 .container .right {
        width: 100%;
        float: none;
        text-align: center;
    }
    #wrap #main #section3 .container .right .gap {
        padding:0;
    }
    #wrap #main #section3 .container .right .gap .content .top .top-right {
        margin:0 auto;
    }
    #wrap #main #section3 .container .right .gap .content .bottom .bottom-right {
        margin:0 auto;}
    #wrap #main #section3 .container .right .gap .content .top .top-left{
        line-height: 180%;
    }
    #wrap #main #section3 .container .right .gap .content .top .top-left h3 {
        line-height: 130%;
    }
    #wrap #main #section3 .container .right .gap .content .bottom .bottom-left {
        line-height: 180%;
    }
  
  }
  
  @media all and (max-width:660px){
    #wrap #main #section2 #notice {
        height:220px;
        background:none;
    }
    #wrap #main #section2 #notice .container {
        padding:0;
    }
    #wrap #main #section2 #notice .container .notice-box {
        width:100%;
        height:50%;
        float:none;
        padding:43px 0 43px 80px;
        background:#000;
    }
    #wrap #main #section2 #notice .container .notice-box .notice-title {
        left:60px;
        z-index:2;
        margin-top:-16px;
    }
    #wrap #main #section2 #notice .container .notice-box .notice-title img:nth-child(1){
        display:none;
    }
    #wrap #main #section2 #notice .container .notice-box .notice-title img:nth-child(2){
        display:block;
    }
    #wrap #main #section2 #notice .container .notice-box .notice-list {
        z-index:1;
        position:relative;
        padding:0 40px;
        background:#000;
    }  
    #wrap #main #section2 #notice .container .notice-box .notice-more {
        z-index: 2;
        position:absolute;
        right:30px;
        top: 0;
        width: 62px;
        height: 100%;
        background:#000;
        text-align:center;
        line-height:110px;
    }
    #wrap #main #section2 #notice .container .promotion-box {
        width:100%;
        height: 50%;
        float: none;
        background:#fff;
        display: flex;
    }
    #wrap #main #section2 #notice .container .promotion-box div {
        width:234px;
        height:36px;
        margin: auto;
    }
    /* 푸터 */
    #wrap #footer .container .top {
      padding:0;
    }
    #wrap #footer .container .top .wrap ul {
      width:100%;
      display:flex;
      flex-flow:column nowrap;
    }
    #wrap #footer .container .top .wrap ul li {
      width:100%;
    }
    #wrap #footer .container .top .wrap ul li dl {
      width:100%;
    }
    #wrap #footer .container .top .wrap ul li dl dt {
      line-height:50px;
      background:#554c46 url(../images/mobile_footer_arrow_down.png) no-repeat 97% 50%;
      background-size:15px auto;
    }
    #wrap #footer .container .top .wrap ul li dl dt a{
      color:#f6f5ef;
      display:block;
      text-indent:20px;
    }
    #wrap #footer .container .top .wrap ul li dl dd{
      line-height: 40px;
      background: #645952;
      position:relative;}
    #wrap #footer .container .top .wrap ul li dl dd a{
      z-index:2;
      color: #e6dbd3;
      display: block;
      text-indent:20px;
      position:relative;
    }
    #wrap #footer .container .top .wrap ul li dl dd.mbile-arrrow::before {
      z-index:1;     
      opacity:.3;
      content:'';
      display: block;
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 40px;
      background:transparent url(../images/mobile_footer_arrow_down.png) no-repeat 97% 50%;
      background-size:15px auto;
    }
    #mobileNav{
        padding: 0 0 0 10%;
    }
    #mobileNav .mobile-container > ul > li > a {
        font-size: 22px;
    } 
    #mobileNav .mobile-container > ul > li  > form div button {
        font-size: 20px;
    }
     /* 모바일 */
  #mobileNav {padding:0 0 0 10%;}
  #mobileNav .mobile-container > ul > li > a {font-size:22px;}
  #mobileNav .mobile-container > ul > li > .mobile-sub > ul > li > a {font-size:22px;}
  #mobileNav .mobile-container > ul > li > form div button {font-size:20px;}
}
  
  
  @media all and (max-width:640px){
    #wrap #main #section1 {
        height:auto;
        padding:50px 0;
    }
    #wrap #main #section1 .container .img {
        position:relative;
        display: block;
    }
    /* 섹션1 이미지*/
    #wrap #main #section1 .container .img1 {
        width:100%;
        bottom:0;
        left:0;
        padding:40px 0;
        text-align:center;
    } 
    #wrap #main #section1 .container .img1 img {
        width:60%;
    }
    #wrap #main #section1 .container .img2 {
        width:100%;
        bottom:0;
        left:0;
        padding:40px 0;
        text-align:center;
    }
    #wrap #main #section1 .container .img2 img {
        width:90%;
    }
    #wrap #main #section1 .container .img3 {
        width:100%;
        bottom:0;
        left:0;
        padding:40px 0;
        text-align:center;
    }
    #wrap #main #section1 .container .img3 img {
        width:90%;
    }
    #wrap #main #section1 .container .img4 {
        width:100%;
        bottom:0;
        right:0;
        padding:40px 0;
        text-align:center;
    }  
    #wrap #main #section1 .container .img4 img {
        width:90%;
    }
    #wrap #main #section1 .container .img5 {
        bottom:0;
        left:0;
        margin:70px auto;
        width:129px;
    }
    /* 섹션4 */
    #wrap #main #section4 {
        height:auto;
    }
    #wrap #main #section4 .container .left{
        height: auto;
        position: relative;
        top:0;
        left: 0%;
        max-width: 80%;
        width: 100%;
        transition: all 2s ease-in-out;
        opacity: 0;
        margin: 0 auto;
    }
    #wrap #main #section4 .container .right{
        height: auto;
        position: relative;
        top:0;
        left: 0%;
        max-width: 60%;
        width: 100%;
        transition: all 2.5s ease-in-out;
        opacity: 0; 
        margin: 0 auto;
    }
    #wrap #main #section4{
        padding: 70px 0;
        height: auto;
    }
    
    #wrap #main #section4.addAni .container .left{
        left: 0%;
        opacity: 1;
    }
    #wrap #main #section4.addAni .container .right{
        left: 0%;
        opacity: 1;
    }
    #wrap #main #section4 .container .right .wrap p a{
        margin: 0 auto;
    }
    #wrap #main #section4 .container .left .wrap img{
        margin: 0 0 0 60px;
        width: 100%;
    }
    #wrap #main #section6 .container .right {
        width:85%;
        margin:auto auto 12.5% auto;
    }
    #wrap #main #section8 .container .right {
        width:75%;
    }
    #wrap #main #section8 .container .right h3 img {
        width:95.065%;
    }
    #wrap #main #section8 .container::after {
        z-index:1;background-position: 30% 35%, 80% 100%;
        background-size:180px auto, 180px auto;
    }
  }
  @media all and (max-width:500px){
    #wrap #main #section5 .container .title{
    width: 85%;
    }           
    #mobileNav .mobile-container > ul > li > a {
        font-size: 20px;
    } 
    #mobileNav .mobile-container > ul > li  > form div button {
        font-size: 18px;
    }
}
  @media all and (max-width:400px){
    #wrap #main #section3 .container .right .gap .content .top .top-left h3 {
        font-size:20px;
    }
    #wrap #main #section3 .container .right .gap .content .top .top-left p {
        font-size:15px;
    }
    #wrap #main #section3 .container .right .gap .content .bottom .bottom-left p {
        font-size:13px;
        letter-spacing:-1px;
    }
    #mobileNav{
        padding: 0;
    }
    #mobileNav .mobile-container > ul > li > a {
        font-size: 18px;
    } 
    #mobileNav .mobile-container > ul > li > .mobile-sub > ul > li > a {
        font-size:18px;
    }
    #mobileNav .mobile-container > ul > li  > form div button {
        font-size: 16px;
    }
  }