@charset "UTF-8";


/* 스킵메뉴 */
#skip {
    z-index:2;
    width:100%;
    position:fixed;
    top:0;
    left:0;
}
#skip li {
    width:100%;
}
#skip li a {
    display:block;
    width:100%;
    font-size:0px;
    line-height:0px;
    text-align:center;
    background:#000;
    color:#fff;
}
#skip li a:focus {
    font-size:20px;
    line-height:50px;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* 스타벅스 전체 공통 스타일 요소 */
 .container{
    width:100%;
    max-width:1100px;
    height:100%;
    margin:0 auto;
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */



#wrap{
    width:100%;
    z-index:1;
    position:relative;
    overflow:hidden;
}

/* 헤더 */
#wrap #header{
    z-index:3;
    width:100%;
    height:123px;
    border-top:2px solid#000;
    border-bottom:1px solid#e5e5e5;
    background:#f6f5ef;
    position:fixed;
    top:0;
    left:0;
}



/* 로고박스 */
#wrap #header .container .logo-box {
    width: 75px;
    height: 100%;
    float: left;
}
#wrap #header .container .logo-box h1{
    line-height:110px;
    height:120px;
}
#wrap #header .container .logo-box h1 a {
    width:100%;
}
#wrap #header .container .logo-box h1 a img {
    width:100%;
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */


/* 헤더메뉴상단 */
#wrap #header .container .nav-box {
    width: 1025px;
    height: 100%;
    float: left;
}
#wrap #header .container .nav-box #aside{
    width: 100%;
    height: 54px;
    padding: 0 40px 0 0;
}
#wrap #header .container .nav-box #aside ul{
    float:right;
    padding:8px 0 0 0;
}
#wrap #header .container .nav-box #aside ul li{
    display:inline-block;
    margin:0 10px;
}
#wrap #header .container .nav-box #aside ul li a{          
    font-size:13px;
    letter-spacing: -.5px;
}
#wrap #header .container .nav-box #aside ul li a:hover{
    text-decoration:underline;
}



/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */



/* 통합검색 */
#wrap #header .container .nav-box #aside ul li div{
    width: 34px;
    height: 34px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: all .4s;
}
#wrap #header .container .nav-box #aside ul li div a{
    display: block;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height:30px;
    float: right;
}
#wrap #header .container .nav-box #aside ul li div a img{
    width: 20px;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* 통합검색 입력상자 */
#wrap #header .container .nav-box #aside ul li input{
    width: 0;   
    height: 22px;
    position: absolute;
    top:6px;
    left:0;
    transition: all .4s;
    padding: 0 ;
}
#wrap #header .container .nav-box #aside ul li div.addInput{
    width: 161px;
}
#wrap #header .container .nav-box #aside ul li div.addInput input{
    width: 127px;
    padding: 0 0 0 10px;
}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */



/* 헤더 메뉴하단 */
#wrap #header .container .nav-box #nav {
    width:100%;
    height:66px;
}
#wrap #header .container .nav-box #nav > ul{
    float: right;
}
#wrap #header .container .nav-box #nav > ul > li{
    float: left;
}    
#wrap #header .container .nav-box #nav > ul > li .sub{
    width: 100%;
    position: absolute;
    top: 120px;
    left: 0;
    display: none;
}
#wrap #header .container .nav-box #nav > ul > li > a.main-btn{
    display: block;
    padding:0 20px;
    line-height:40px;
    height: 66px;
    font-size:13.5px;
}
#wrap #header .container .nav-box #nav > ul > li > a.main-btn:hover{
    background:#2C2A29;
    color:rgb(102,153,0);text-decoration: underline;
}

#wrap #header .container .nav-box #nav > ul > li > a.main-btn.addCurrent{
    background:#2C2A29;
    color:rgb(102,153,0);text-decoration: underline;
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */



/* 서브메뉴 탑 */
#wrap #header .container .nav-box #nav > ul > li .sub .sub-top{
    width: 100%;
    height: auto;
    background: #2C2A29;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-top .sub-container {
    width: 1100px;
    padding: 15px;
    margin: 0 auto;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-top .sub-container ul{
    width: 100%;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-top .sub-container ul li{
    width: 20%;
    float: left;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-top .sub-container ul li dl{
    width: 100%;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-top .sub-container ul li dl dt{
    line-height: 35px;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-top .sub-container ul li dl a{
    font-size:14px;
    color: #fff;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-top .sub-container ul li dl a:hover{
    text-decoration: underline;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-top .sub-container ul li dd{
    line-height: 22px;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-top .sub-container ul li dd a{
    font-size: 12px;color: #999;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-top .sub-container ul li dd a:hover{
    text-decoration: underline;
}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* 서브메뉴 바텀 */
#wrap #header .container .nav-box #nav ul li .sub .sub-bottom{
    width: 100%;
    height: auto;
    background:url(../images/gnb_sub_txbg.jpg) repeat 0 0;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-bottom .sub-container {
    width: 1100px;
    padding: 15px;
    margin: 0 auto;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-bottom .sub-container dl dt {
    line-height: 20px;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-bottom .sub-container dl dt a {
    font-size:12px;
    color: #999;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-bottom .sub-container dl dt a:hover {
    text-decoration: underline;
}
#wrap #header .container .nav-box #nav ul li .sub .sub-bottom .sub-container dl dd {
    font-size: 12px;
    color:#64a70b;
    line-height: 20px;}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */


/* 서브메뉴 1,2,3,4,5,6, */
#wrap #header .container .nav-box #nav ul li .sub.sub1{
    display: none;
}
#wrap #header .container .nav-box #nav ul li .sub.sub2{
    display: none;
}
#wrap #header .container .nav-box #nav ul li .sub.sub3{
    display: none;
}
#wrap #header .container .nav-box #nav ul li .sub.sub4{
    display: none;
}
#wrap #header .container .nav-box #nav ul li .sub.sub5{
    display: none;
}
#wrap #header .container .nav-box #nav ul li .sub.sub6{
    display: none;}

/* 모바일 */
#wrap #header .container .nav-box #mobile {
    display:none;
}
#wrap #header .container .nav-box #mobile ul {
    display:flex;
    height:69px;
}
#wrap #header .container .nav-box #mobile ul li {
    margin:auto;
}
#wrap #header .container .nav-box #mobile ul li a {
    width:60px;
    height:60px;
    display:flex;
}
#wrap #header .container .nav-box #mobile ul li a img {
    width:auto;
    height:32px;
    margin:auto;
}
#wrap #header .container .nav-box #mobile ul li:last-child a img {
    height:26px;
}



/* 메인 메인섹션 */
#wrap #main {
    width:100%;
    z-index:1;
    position: relative;
    margin:123px 0 0 0;
}
#wrap #main #section1{
    width:100%;
    height:647px;
    background:#d1131d;
}
#wrap #main #section1 .container{
    position: relative;
}

/* ////섹션1 애니메이션 /////*/
#wrap #main #section1 .container .img{
    position: absolute;
    opacity: 0;
}
#wrap #main #section1 .container .star{
    position:absolute;
}
#wrap #main #section1 .container .img1{
    bottom:451.972px;
    left:0;
    width: 328px;
}
#wrap #main #section1 .container .img1 img {
    width: 100%;
}
#wrap #main #section1 .container .img2{
    width: 435px;
    bottom:76px;
    left:130px;
    z-index: 2;
}
#wrap #main #section1 .container .img2 img{
    width: 100%;
}   
#wrap #main #section1 .container .img3{
    width: 357px;
    z-index: 2;
    bottom:68px;
    left:509px;
}
#wrap #main #section1 .container .img3 img{
    width: 100%;
}
#wrap #main #section1 .container .img4{
    width: 448px;
    z-index: 2;
    bottom:58px;
    right: -133px;
}
#wrap #main #section1 .container .img4 img{
    width: 100%;
}

#wrap #main #section1 .container .img5 {
    width: 129px;
    z-index: 2;
    bottom:372px;
    left: 100px;
    height: 39px;
}
#wrap #main #section1 .container .img5 a{
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    background: transparent;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    font-weight: 500;
}
#wrap #main #section1 .container .img5 a:hover{
    text-decoration: underline;
    background: rgba(255,255,255, .3);
    transition: all .3s;
}

/* ////////////// 별 ////////////// */
#wrap #main #section1 .container .star1{
    width: 47px;
    z-index: 1;
    top:301px;
    left:211px
}
#wrap #main #section1 .container .star1 img{
    width: 100%;
}
#wrap #main #section1 .container .star2{
    width:29px;
    z-index: 1;
    top:186px;
    right: 0px;
    opacity: 1;
}
#wrap #main #section1 .container .star2 img{
    width: 100%;
}



/* 센션2 */
#wrap #main #section2 {
    width:100%;
    background:#f6f5ef;
}
#wrap #main #section2 #notice {
    width: 100%;
    height: 62px;
    background-image:linear-gradient(to right, #111 50%, #f6f5ef 50%);
}
#wrap #main #section2 #notice .container {
    width: 100%;
    max-width: 1100px;
    height: 100%;
    margin:0 auto;
}
/* 공지사항 롤링 애니메이션 박스 */
#wrap #main #section2 #notice .container .notice-box {
    width:50%;
    float: left;
    height: 100%;
    padding: 19px 0 19px 80px;
    position: relative;
}
#wrap #main #section2 #notice .container .notice-box .notice-title {
    position:absolute;
    top:50%;
    left:0;
    margin-top:-9.5px;
    width:65px;
}
#wrap #main #section2 #notice .container .notice-box .notice-title img:nth-child(1) {
    width:65px;
    height:19px;
}
#wrap #main #section2 #notice .container .notice-box .notice-title img:nth-child(2) {
    display:none;
    width: 33px;
    height: 32px;
}

/* 공지사항 목록 */
#wrap #main #section2 #notice .container .notice-box .notice-list{
    width: 100%;
    height: 24px;
    background-color:#999;
}
#wrap #main #section2 #notice .container .notice-box .notice-list  ul {
    position: relative;
    width: 100%;
    height:24px;overflow:
    hidden;
}
#wrap #main #section2 #notice .container .notice-box .notice-list  ul li {
    height:24px;line-height:24px;background:#111;position:absolute;top:0;left:0;width:100%;}
#wrap #main #section2 #notice .container .notice-box .notice-list  ul li a {
    color:#fff;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    padding:0 50px 0 0
}
#wrap #main #section2 #notice .container .notice-box .notice-list  ul li a:hover {
    text-decoration:underline;
}
#wrap #main #section2 #notice .container .notice-box .notice-list  ul li:nth-child(1) {
    z-index:2;top:0;
}
#wrap #main #section2 #notice .container .notice-box .notice-list  ul li:nth-child(2) {
    z-index:3;top:24px;
}
#wrap #main #section2 #notice .container .notice-box .notice-list  ul li:nth-child(3) {
    z-index:1;top:24px;
}
#wrap #main #section2 #notice .container .notice-box .notice-list  ul li:nth-child(4) {
    z-index:1;top:24px;
}
#wrap #main #section2 #notice .container .notice-box .notice-list  ul li:nth-child(5) {
    z-index:1;top:24px;
}
/* 공지사항 더보기 버튼 박스 */
#wrap #main #section2 #notice .container .notice-box .notice-more {
    position:absolute;
    right:-61px;
    top:0;
    width:62px;
    height:62px;
    background:#111;
    text-align:center;
    line-height:58px;
}
#wrap #main  #section2 #notice .container .notice-box .notice-more a img {
    width:36px;
}
/* 오른쪽 */
#wrap #main #section2 #notice .container .promotion-box{
    width:50%;
    float: left;
    height: 100%;
}
#wrap #main #section2 #notice .container .promotion-box div{
    width: 234px;
    height:36px;
    margin: 13px 0 13px auto;
}
#wrap #main #section2 #notice .container .promotion-box div a{
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/prom_ttl_b.png)no-repeat 0 50%,url(../images/btn_prom_up.png)no-repeat 100% 50%;
    background-size: 129px auto,35px auto;
    margin: auto;
}
#wrap #main #section2 #notice .container .promotion-box div a.close{
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/prom_ttl_b.png)no-repeat 0 50%,url(../images/btn_prom_down.png)no-repeat 100% 50%;
    background-size: 129px auto,35px auto;
    margin: auto;
}


/* 슬라이드 */
#wrap #main #section2 #slide{
    display: none;
    width:100%;
    background:#f6f5ef;
    border-top:1px solid #f6f5ef;
}
#wrap #main #section2 #slide .container2 {
    width: 100%;
    padding: 39px 0;
}
#wrap #main #section2 #slide .container2 .slide-container{
    width: 100%;
    position: relative;
    overflow: hidden;
}
#wrap #main #section2 #slide .container2 .slide-container .slide-view {
    position: relative;
    width: 819px;
    margin: 0 auto;
}
#wrap #main #section2 #slide .container2 .slide-container .slide-view .slide-wrap{
    position: relative;
    width: 500%;
    margin: 0 0 0 -100%;
}
#wrap #main #section2 #slide .container2 .slide-container .slide-view .slide-wrap .slide {
    position: relative;
    width: 819px;
    float: left;
    opacity: .4;
    transition: all .3s;
    padding: 0 10px 0 0;
}
#wrap #main #section2 #slide .container2 .slide-container .slide-view .slide-wrap .slide.addCurrent{
    opacity: 2;
}
#wrap #main #section2 #slide .container2 .slide-container .slide-view .slide-wrap .slide img{
    width: 100%;
}
#wrap #main #section2 #slide .container2 .slide-container .slide-view .slide-wrap .slide a {
    position: absolute;
    width: 125px;
    height: 38px;
    left: 50%;
    bottom: 12px;
    margin-left: -64.5px;
    display: block;
    border: 2px solid #111;
    border-radius: 3px;
    text-align: center;
    line-height: 35px;
    letter-spacing: -1px;
    transition: background 0.5s, color 0.5s;
    background: #efefef;
  }
  #wrap #main #section2 #slide .container2 .slide_container .slide-view .slide-wrap .slide a:hover {
    font-weight: 600;
    color: #fff;
    background: #000;
  }
  
/* 버튼 */
#wrap #main #section2 #slide .container2 .slide-container > span {
    position: absolute;
    display: block;
    width: 55px;
    height: 55px;
    top: 50%;  
  }
  #wrap #main #section2 #slide .container2 .slide-container .next-btn-box {
    left: 50%;
    margin: -57.5px 0 0 500px;
  }
  #wrap #main #section2 #slide .container2 .slide-container .prev-btn-box {
    right: 50%;
    margin: -57.5px 500px 0 0;
  }
  #wrap #main #section2 #slide .container2 .slide-container > span a {
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    border-radius: 50%;
  }
  #wrap #main #section2 #slide .container2 .slide-container .next-btn-box a {
    background:  url(../images/arrow_right_on.png) no-repeat center center;
    background-size: 15px auto;
  }
  #wrap #main #section2 #slide .container2 .slide-container .prev-btn-box a {
    background:  url(../images/arrow_left_on.png) no-repeat center center;
    background-size: 15px auto;
  }
  
  
  #wrap #main #section2 #slide .container2 .slide-container .page-btn-box {
    position: absolute;
    width: 100%;
    height: 12px;
    left: 0;
    bottom: 0;
    line-height: 12%;
    text-align: center;
  }
  #wrap #main #section2 #slide .container2 .slide-container .page-btn-box span {
    display: inline-block;
    margin: 0 3px;
  }
  #wrap #main #section2 #slide .container2 .slide-container .page-btn-box span a {
    display: block;
  }
  #wrap #main #section2 #slide .container2 .slide-container .page-btn-box span .play-btn img {
    width: 9px;
    height: 12px;
  }
  #wrap #main #section2 #slide .container2 .slide-container .page-btn-box span .page-btn img {
    width: 12px;
    height: 12px;
  }
  



/* 섹션3 */
#wrap #main #section3 {
    width:100%;
    height:auto;
    background:#1e3932;
    padding: 30px 0;
}
#wrap #main #section3 .container{
   width: 100%;
}    
/* 섹션2 레프트 */
#wrap #main #section3 .container .left{
    width: 256px;
    float: left;
}
#wrap #main #section3 .container .left .gap{
    padding:  0 40px;
}
#wrap #main #section3 .container .left .gap .content{
    width: 100%;
}
#wrap #main #section3 .container .left .gap .content h2{
    width: 100%;
}
#wrap #main #section3 .container .left .gap .content h2 img{
    width: 100%;
}

/* 섹션 라이트 */
#wrap #main #section3 .container .right{
    width: 844px;
    float: left;
}
#wrap #main  #section3  .container .right br{
    display:none;
}
#wrap #main #section3 .container .right .gap{
    padding: 0 40px 0 0;
}
#wrap #main #section3 .container .right .gap .content{
    color: #fff;
    width: 100%;    
}
#wrap #main #section3 .container .right .gap .content .top{
    border-bottom: 1px solid rgba(255,255,255, .5);
    width: 100%;
    padding: 0 0 15px 0;
}
#wrap #main #section3 .container .right .gap .content .top .top-left{
    line-height: 160%;
    width: auto;
    float: left;
}
#wrap #main #section3 .container .right .gap .content .top .top-left h3{
    font-size: 26px;
    padding:  0 0 20px 0;
}
#wrap #main #section3 .container .right .gap .content .top .top-left h3 strong{
    font-weight: 600;
}
#wrap #main #section3 .container .right .gap .content .top .top-left  p{
    font-size: 17px;
}
#wrap #main #section3 .container .right .gap .content .top .top-left  p strong{
    font-weight: 600;
}
/* 탑 라이트박스 */
#wrap #main #section3 .container .right .gap .content .top .top-right{
    width: 183px;
    float: right;
    padding: 54.563px 0 0 0;
}
#wrap #main #section3 .container .right .gap .content .top .top-right .button-box{
   width: 100%;
}
#wrap #main #section3 .container .right .gap .content .top .top-right .button-box a{
    text-align: center;
    color: #fff;
    border-radius: 5px;
    line-height: 38px;
    display: inline-block;
}
#wrap #main #section3 .container .right .gap .content .top .top-right .button-box a:hover{
    text-decoration: underline;
}
#wrap #main #section3 .container .right .gap .content .top .top-right .button-box a.signup-btn{
    background: #00704a;
    border: 2px solid#00704a;;
    width: 93px;
    float:left;
}
#wrap #main #section3 .container .right .gap .content .top .top-right .button-box a.login-btn{
    border: 2px solid#fff;
    background: transparent;
    width: 78px;
    margin: 0 0 0 7px;
    float:right;
}
#wrap #main #section3 .container .right .gap .content .bottom{
    width:100%;
    padding:15px 0 0 0;
}
#wrap #main #section3 .container .right .gap .content .bottom .bottom-left{
    line-height:160%;
    width:auto;
    float:left;
}
#wrap #main #section3 .container .right .gap .content .bottom .bottom-left p{
    font-size: 14px;
}
#wrap #main #section3 .container .right .gap .content .bottom .bottom-left p strong{
    font-weight: 600;
}



#wrap #main #section3 .container .right .gap .content .bottom .bottom-right{
    width:183px;
    float:right;
}
#wrap #main #section3 .container .right .gap .content .bottom .bottom-right .button-box{
    width:100%;
}
#wrap #main #section3 .container .right .gap .content .bottom .bottom-right .button-box a{
    color:#fff;
    display:inline-block;
    line-height:38px;
    border-radius:5px;
    text-align:center;
}
#wrap #main #section3 .container .right .gap .content .bottom .bottom-right .button-box a:hover{
    text-decoration: underline;
}
#wrap #main #section3 .container .right .gap .content .bottom .bottom-right .button-box a.egift-btn{
    background:transparent;
    border:2px solid #fff;
    width:100%;
}




/* 섹션4 */
#wrap #main #section4 {
    width:100%;
    height:573px;
    background:#ffa59c url(../images/section4_bg.jpg)no-repeat 50% 50%;
    background-size:cover;
    overflow: hidden;
}
#wrap #main #section4 .container {
    width: 100%;
    position: relative;
}    
#wrap #main #section4 .container .left{
    height: 100%;
    position: absolute;
    top:90px;
    right: 150%;
    max-width: 484px;
    width: 100%;
    transition: all 2s ease-in-out;
    opacity: 0;
}
#wrap #main #section4.addAni .container .left{
    right: 50%;
    opacity: 1;
}
#wrap #main #section4 .container .left .wrapp{
    width: 484px;
    max-width: 100%;
}
#wrap #main #section4 .container .left .wrap img{
    max-width: 100%;
}


#wrap #main #section4 .container .right{
    height: 100%;
    position: absolute;
    top:183px;
    left: 150%;
    max-width: 317px;
    width: 100%;
    transition: all 2.5s ease-in-out;
    opacity: 0;
}
#wrap #main #section4.addAni .container .right{
    left: 50%;
    opacity: 1;
}
#wrap #main #section4 .container .right .wrap{
    width: 100%;
}
#wrap #main #section4 .container .right .wrap h2 {
    width: 100%;
}
#wrap #main #section4 .container .right .wrap h2 img{
    width: 100%;
}
#wrap #main #section4 .container .right .wrap p{
    padding: 40px 0 0 5px;
}
#wrap #main #section4 .container .right .wrap p a{
    display: block;
    width: 125px;
    height: 38px;
    border: 2px solid #453d3d;
    border-radius: 3px;
    text-align: center;
    line-height: 34px;
    transition: all .3s;
    font-weight:500;
}
#wrap #main #section4 .container .right .wrap p a:hover{
    color: #fff;
    background-color: #453d3d;
    text-decoration: underline;
}




/* 섹션5 */
#wrap #main #section5 {
    width:100%;
    height:400px;
    background:#094a3d;
    position: relative;
}
#wrap #main #section5.addFadein::after{ 
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    background:#094a3d url(../images/section5_bg.jpg)no-repeat 50% 50%;
    background-size:cover;
    position: absolute;
    left:0;
    top:0;
    z-index: 1;
    opacity: 1;
    transition: all .6s ease-in-out;
    animation: fadein 3s ease-in-out;
}
/* 페이드 인 효과 애니메이션 구현 */
@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}
#wrap #main #section5 .container {
    z-index: 2;
    position: relative;
    height: 100%;
    display: flex;
}    
#wrap #main #section5 .container .title{
    width: 674px;
    margin: auto 0 auto 0; /* row 가로 = float: left */  /* nowrap 줄바꿈없다 */
}                            /*  column 세로 = float: left */ /* wrap 줄바꿈o */
#wrap #main #section5 .container .title h2{ 
    width: 100%;
}
#wrap #main #section5 .container .title h2 img{
    width: 100%;
}
#wrap #main #section5 .container .title p{
    text-align: center;
}
#wrap #main #section5 .container .title p a{
    display:inline-block;
    margin: 0 0 0 200px;
    width: 125px;
    height: 38px;
    border: 2px solid #d5a012;
    border-radius: 3px;
    text-align: center;
    line-height: 34px;
    transition: all .3s;
    font-weight: 500;
    color:#d5a012;
}
#wrap #main #section5 .container .title p a:hover{
    color: #fff;
    background-color: #d5a012;
    text-decoration: underline;
}


/* 섹션6 */
#wrap main #section6 {
    width:100%;
    height:800px;
    background:url(../images/section6_bg.jpg)no-repeat 50% 50% fixed;
    background-size:cover;}
#wrap #main #section6 .container {  
    height: 100%;
    display: flex;
    flex-flow:row nowrap;
}
#wrap #main #section6 .container .left{
    right: 362px;
    text-align: right;
    margin:auto 0 auto 0;
}
 
#wrap #main #section6 .container .left h2 {
    padding: 0 0 50px 0;
}
/* 애니메이션1 */
@keyframes sec6Ani1{
    0%   {transform: translate(-1000px,0);opacity: 0;}
    100% {transform: translate(0,0);opacity: 1;}
}
#wrap #main #section6.addAni .container .left h2{
    animation: sec6Ani1 2s;
}
#wrap #main #section6 .container .left h2 img{
    width: 100%;
    max-width: 258px;
}
#wrap #main #section6 .container .left h3{
    padding: 0 0 45px 0;
}
 /* 애니메이션2 */
 @keyframes sec6Ani2{
    0%   {transform: translate(-1000px,0);opacity: 0;}
    100% {transform: translate(0,0);opacity: 1;}
}
#wrap #main #section6.addAni .container .left h3{
    animation: sec6Ani2 2.5s;
}
#wrap #main #section6 .container .left h3 img{
    width: 100%;
}
#wrap #main #section6 .container .left p {
    text-align: center;
}
/*  애니메이션 3*/
@keyframes sec6Ani3{
    0% {opacity: 0;}
    20% {opacity: 0;}
    100%{opacity: 1;}
}
#wrap #main #section6.addAni .container .left p{
    animation: sec6Ani3 3.5s;
}

/* 버튼박스 */
#wrap #main #section6 .container .left p a{
    display:inline-block;
    margin: 0 0 0 200px;
    width: 125px;
    height: 38px;
    border: 2px solid #fff;
    border-radius: 3px;
    text-align: center;
    line-height: 34px;
    transition: all .3s;
    font-weight: 500;
    color:#fff;
}
#wrap #main #section6 .container .left p a:hover{
    color: #fff;
    background-color: #fff;
    text-decoration: underline;
}

#wrap #main #section6 .container .rifgr{
    width: 672px;
    margin: auto -100px auto auto;
}
#wrap #main #section6 .container .rifgr  img{
    width: 100%;
}




#wrap #main #section7 {
    width:100%;
    height:400px;
    background:url(../images/reserve_bg_pc.png) no-repeat 50% 50%;
}
#wrap #main #section7 .container {
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
}
#wrap #main #section7 .container .left{
    width: 588px;
    margin: auto auto auto 0;
}
#wrap #main #section7 .container .left h2{
    width: 100%;
}
#wrap #main #section7 .container .left h2 img{
    width: 100%;
}
#wrap #main #section7 .container .left p{
    text-align: center;
    padding: 20px 0 0 0;
}
#wrap #main #section7 .container .left p a{
    display:inline-block;
    margin: 0 0 0 100px;
    width: 125px;
    height: 38px;
    border: 2px solid #000;
    border-radius: 3px;
    text-align: center;
    line-height: 34px;
    transition: all .3s;
    font-weight: 500;
    color:#000;
}
#wrap #main #section7 .container .left p a:hover{
    color: #fff;
    background-color: #000;
    text-decoration: underline;
}

#wrap #main #section7 .container .right {
    width: 348px;
    margin: 0 70px auto auto;
}
#wrap #main #section7.addFade .container .right{
    animation: sec7Ani 2s ease-in-out;
}
@keyframes sec7Ani{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
#wrap #main #section7 .container .right img{
    width: 100%;
}




#wrap #main #section8 {
    width:100%;
    height:400px;
    background:url(../images/section8_bg.jpg) no-repeat 50% 50%;
    background-size:cover;
}
#wrap #main #section8 .container {
    position:relative;
    height:100%;
    max-width:1141px;
    transform:translateX(20.5px);
    display:flex;
}
#wrap #main #section8 .container::after{
    z-index:1;
    position:absolute;
    content:'';
    width:100%;
    height:100%;
    top:0;
    left:0;
    transform:translateX(20.5px);
    display:flex;
    background:url(../images/store_exp_img03.png) no-repeat 50% -60px, url(../images/store_exp_img04.png) no-repeat 100% 100%;
    background-size:343px auto, 230px auto;
    animation:sec8fade2 2s ease-in-out;
}
@keyframes sec8fade2 {
    0% {opacity:0;}
  100% {opacity:1;}
}

/* 레프트 */
#wrap #main #section8 .container .left{
    display: flex;
    width: 366px;
    margin: 0 auto auto 0;
    background: url(../images/store_exp_img02.png)no-repeat 0 0;
    background-size: 366px auto;
    height: 312px;
}
#wrap #main #section8.addAni .container .left{
    animation: cec8Ani2 2s ease-in-out;
}
@keyframes cec8Ani2{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#wrap #main #section8 .container .left span{
    margin:auto -80px -80px auto;
}
#wrap #main #section8 .container .left span img{
    width: 228px;
}

/* 라이트 */
#wrap #main #section8 .container .right{
    width: 385px;
    margin: auto 100px auto auto;
}
#wrap #main #section8 .container .right h2{
    padding: 0 0 15px 0;
}
#wrap #main #section8.addAni .container .right h2{
    animation: cec8Ani1 2s ease-in-out;
}
@keyframes cec8Ani1{
    0% {transform: translate(1000px,0);opacity: 0;}
    100% {transform: translate(0,0);opacity: 1;}
}
#wrap #main #section8 .container .right h2 img{
    width: 100%;
}
#wrap #main #section8 .container .right h3 {
    width: 100%;
}
#wrap #main #section8.addAni .container .right h3{
    animation: cec8Ani1 2.5s ease-in-out;
}
@keyframes cec8Ani1{
    0% {transform: translate(1000px,0);opacity: 0;}
    100% {transform: translate(0,0);opacity: 1;}
}
#wrap #main #section8 .container .right h3 img{
    width: 366px;
}
#wrap #main #section8 .container .right p{
    text-align: left;
    padding: 30px 0 0 0;
}
#wrap #main #section8.addAni .container .right p{
    animation: cec8Ani1 3s ease-in-out;
}
@keyframes cec8Ani1{
    0% {transform: translate(1000px,0);opacity: 0;}
    100% {transform: translate(0,0);opacity: 1;}
}
#wrap #main #section8 .container .right p a{
    display:inline-block;
    margin: 0 auto 0 0;
    width: 125px;
    height: 38px;
    border: 2px solid #000;
    border-radius: 3px;
    text-align: center;
    line-height: 34px;
    transition: all .3s;
    font-weight: 500;
    color:#000;
}
#wrap #main #section8 .container .right p a:hover{
    color: #fff;
    background-color: #000;
    text-decoration: underline;
}





/* 푸터 */
#wrap #footer {
    width:100%;
    background:#2C2A29;
    z-index: 2;
}
#wrap #footer .container {
    max-width:100%;   
}
#wrap #footer .container .top{
    width: 100%;
    padding: 40px 0;
}
#wrap #footer .container .top .wrap{
    width: 100%;
    max-width: 1182px;
    margin: 0 auto;
    background: url(../images/footer_logo.png)no-repeat 100% 0;
}
#wrap #footer .container .top .wrap ul{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}
#wrap #footer .container .top .wrap ul li{
    width: 20%;
}
#wrap #footer .container .top .wrap ul li dl{
    width: 100%;
}
#wrap #footer .container .top .wrap ul li dl dt{
    line-height: 35px;
}
#wrap #footer .container .top .wrap ul li dl dt a{
    color: #ddd;
    font-size: 15px;}
#wrap #footer .container .top .wrap ul li dl dt a:hover{
    text-decoration: underline;
}  
    
#wrap #footer .container .top .wrap ul li dl dd{
    line-height: 25px;
}
#wrap #footer .container .top .wrap ul li dl dd a{
    color: #bbb;
    font-size: 13px;}
#wrap #footer .container .top .wrap ul li dl dd a:hover{
    text-decoration: underline;
}    


#wrap #footer .container .middle{
    background: #282828;
    padding: 25px 0;
}
#wrap #footer .container .middle .wrap{
    width: 100%;
    max-width: 1182px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
}
#wrap #footer .container .middle .wrap span{
    width: 100%;
}
#wrap #footer .container .middle .wrap span a img{
    width: auto;
}


#wrap #footer .container .bottom{
    padding: 20px 0 40px 0;
    text-align: center;
}
#wrap #footer .container .bottom .wrap{
    width: 100%;
}
#wrap #footer .container .bottom .wrap ul{
    width: 100%;
}
#wrap #footer .container .bottom .wrap ul li{
    padding: 10px 0;
} 
#wrap #footer .container .top .wrap ul li.mobile{
    display:none;
}

#wrap #footer .container .bottom .wrap ul li:nth-child(1) div{
    width: 100%;
} 
#wrap #footer .container .bottom .wrap ul li:nth-child(1) div span{
    display: inline-block;
}
#wrap #footer .container .bottom .wrap ul li:nth-child(1) div span:nth-child(1) a{
    color: #00704a;
}
#wrap #footer .container .bottom .wrap ul li:nth-child(1) div span a{
    color: #999;
    font-size: 12px;
    letter-spacing: -1px;
    font-weight: 600;
}
#wrap #footer .container .bottom .wrap ul li:nth-child(1) div span i{
    display: block;
    width: 1px;
    height: 12px;
    background: #666;
    margin: 0 10px;
} 



#wrap #footer .container .bottom .wrap ul li:nth-child(2) div {
    padding: 0 0 10px 0;
} 
#wrap #footer .container .bottom .wrap ul li:nth-child(2) div span {
    margin: 0 5px;
    width: 125px;
    display: inline-block;
} 
#wrap #footer .container .bottom .wrap ul li:nth-child(2) div span a{
    display:block;
    width: 100%;
    height: 38px;
    border: 2px solid #fff;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    transition: all .3s;
    font-weight: 500;
    color:#fff;
}
#wrap #footer .container .bottom .wrap ul li:nth-child(2) div span a:hover{

    text-decoration: underline;
}
#wrap #footer .container .bottom .wrap ul li:nth-child(3) address{
    color: #999;
    font-size: 12px;
} 

#wrap #footer .container .bottom .wrap ul li:nth-child(4) p{
    color: #999;
    font-size: 12px;
} 
/* 모바일메뉴 */
#mobileNav {
    display:none;
    z-index:4;
    position:
    fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0, 1);
    transition:all .3s;
    padding:0 0 0 25%;
}
#mobileNav.addMobile {
    display:block;
    background:rgba(0,0,0, .6);
}
#mobileNav .mobile-container {
    width:100%;
    height:100%;
    background:#000;
    position:relative;
    left:110%;
}

/* 닫기 */
#mobileNav .mobile-container .mobile-close {
    position:absolute;
    top:30px;
    left:-50px;
    width:30px;
    height: 30px;
}
#mobileNav .mobile-container .mobile-close a img {
    width:30px;
    height:30px;
}
#mobileNav.addMobile .mobile-container .mobile-close a img {
    animation:rotate .6s;
}
@keyframes rotate {
    0% {transform:rotate(0);}
  100% {transform:rotate(-360deg);}
}


#mobileNav .mobile-container > ul {
    width: 100%;
    overflow-y: auto;
    height: 100%;
}
#mobileNav .mobile-container > ul > li > form {
    width: 100%;
    height: 112px;
    display:flex;
    background:#2d2926;
}
#mobileNav .mobile-container > ul > li > form div {
    width:77.354%;
    height: 50px;
    margin: auto;
    display:flex;
}
#mobileNav .mobile-container > ul > li > form div input {
    width:69.079%;
    height: 50px;
    border: 1px solid #e3e1d2;
    background:#fff;
    color:#666;
    font-size:16px;
    margin:0 auto 0 0;
    padding:0 10px;
    border-radius:3px;
}
#mobileNav .mobile-container > ul > li > form div input:focus {
    outline:0;
}
#mobileNav .mobile-container > ul > li > form div button {
    width: 27.412%;
    height: 50px;
    border: 0;
    background:#666;
    color: #fff;
    font-size:24px;
    margin:0 0 0 auto;
    border-radius:3px;
}

/* 메인메뉴 1*/
#mobileNav .mobile-container > ul > li {
    border-bottom:1px solid #222;
}
#mobileNav .mobile-container > ul > li > a {
    display:block;
    width: 100%;
    height: 76px;
    background:#000 url(../images/mob_gnb_arrow_down_w.png) no-repeat 96% 50%;
    color:#fff;
    font-size:28px;
    padding:0 0 0 20px;
    line-height:76px;
}
#mobileNav .mobile-container > ul > li > a.addMobile {
    background-image:url(../images/mob_gnb_arrow_up_w.png);
}
#mobileNav .mobile-container > ul > li > a:hover {
    text-decoration:underline;
}
#mobileNav .mobile-container > ul > li:nth-child(1) {
    border-bottom:1px solid #111;
}
#mobileNav .mobile-container > ul > li:nth-child(2) > a {
    background:#2d2926;
}

/* 서브 메뉴 2*/
#mobileNav .mobile-container > ul > li > .mobile-sub {
    width:100%;display: none;
}
#mobileNav .mobile-container > ul > li > .mobile-sub > ul {
    width:100%;
}
#mobileNav .mobile-container > ul > li > .mobile-sub > ul > li {
    border-bottom:1px solid #222;
}
#mobileNav .mobile-container > ul > li > .mobile-sub > ul > li > a {
    display:block;
    width:100%;
    height:76px;
    background:#000;
    color:#fff;
    font-size:28px;
    padding:0 0 0 20px;
    line-height:76px;
}


/* 서브서브메뉴3*/
#mobileNav .mobile-container > ul > li > .mobile-sub > ul > li .mobile-sub-sub {
    width:100%;
    display: none;
}
#mobileNav .mobile-container > ul > li > .mobile-sub > ul > li .mobile-sub-sub > ul {
    width:100%;
}
#mobileNav .mobile-container > ul > li > .mobile-sub > ul > li .mobile-sub-sub > ul > li {
    border-bottom:1px solid #333;
}
#mobileNav .mobile-container > ul > li > .mobile-sub > ul > li .mobile-sub-sub > ul > li > a {
    display:block;
    width:100%;
    height:50px;
    background:#222;
    color:#999;
    font-size:18px;
    padding:0 0 0 20px;
    line-height:50px;
}



/* 스킵메뉴 */
.quick-menu{
    z-index:3;
    position:absolute;
    top:0;
    left:50%;
    margin-left:650px;
    width:140px;
    height:96px;
}
.quick-menu  a img{
    width: 100%;
}

/* go top */
.go-top{
    z-index:3;
    position:fixed;
    bottom:30px;
    right:30px;
    width:40px;
    height:40px;
    background:#fff;
    border-radius:50%;
}



.go-top a img{
    width: 100%;
}

/* 검사 */
.validator {
    position:fixed;
    bottom:30px;
    left:20px;
    width:80px;
    z-index:3;
}



